@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

:root{
    --principal : #01161E;
    --secundario : #124559;
    --claroUno : #598392;
    --claroDos : #AEC3B0;
    --claro : #EFF6E0;
}

*{
    margin: 0;
    font-family: 'Teko', sans-serif;
}

body{
    background-color: var(--principal);
}


header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--secundario);
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nombre{
    text-decoration: none;
    font-size:50px;
    font-weight:bold;
    background-color: transparent;
    color: var(--claroDos);
}

.nombre:hover{
    color: var(--claro);
}

nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-right: 30px;
    background-color: transparent;
    color: var(--claroDos);
}

nav  a:hover{
    color: var(--claro);
}


.container-sobreMi{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal-sobreMi{
    background-color: var(--claroDos);
    width: 80rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.info-principal{
    width: 500px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 25px;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 10px solid var(--claroUno);

}

.info-principal ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
}

.info-secundaria{
    width: 500px;
    height: 50%;
    font-size: 30px;
    text-align: center;
}

.btn-descarga{
    text-decoration: none;
    color: var(--claroUno);
}

.boton{
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--claroUno);
    z-index: 1;
}
.boton::before, .boton::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--principal);
    transition: 1s ease;
   }
   
.boton::before {
 top: -1em;
 left: -1em;
}

.boton::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.boton:hover::before, .boton:hover::after {
 height: 410px;
 width: 410px;
}

.boton:hover {
 color: var(--claroUno);
}

.boton:active {
 filter: brightness(.8);
}

.container-skills{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal-skills{
    background-color: var(--claroDos);
    width: 80rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.info-secundaria-skills{
    width: 500px;
    height: 50%;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.container-skill{
    filter: grayscale(1);
    transition: .5s;
}

.container-skill:hover{
    filter: grayscale(0);
}
