*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: aqua;
    align-items: center;
    padding: 10px;
}

.nombre{
    text-decoration: none;
    font-weight: 900;
}

.nombre:hover{
    color: white;
}

nav a{
    text-decoration: none;
    font-weight: 500;
    padding-right: 30px;
}

nav  a:hover{
    color: white;
}


.container-sobreMi{
    background-color: aquamarine;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal-sobreMi{
    background-color: plum;
    width: 80rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.info-principal{
    background-color: red;
    width: 500px;
    height: 50%;

}

.info-secundaria{
    background-color: blue;
    width: 500px;
    height: 50%;
}

